<header>
  <ExSnakeWeb.Components.Navigation.content />
</header>
<main class="px-20 sm:px-20 lg:px-10">
  <div class="flex items-center justify-center">
    <div class="w-2/12"></div>
    <div class="w-8/12 mx-auto">
      <.flash_group flash={@flash} />
      <%= @inner_content %>
    </div>
    <div class="w-2/12"></div>
  </div>
</main>
