<%= live_component ExSnakeWeb.Components.Header, id: "header", points: @points, user_map: @user_map, user: @user %>

<%= live_component ExSnakeWeb.Components.Grid, id: "grid", columns: @columns, rows: @rows, user_map: @user_map %>

<%= live_component ExSnakeWeb.Components.Modal, id: "modal-one", columns: @columns, rows: @rows %>

<%= live_component ExSnakeWeb.Components.Footer, id: "footer" %>







